/* color variables */

$colorone: #C20F08;
$colortwo: #C20F08;
$background: #FFFFFF;
$background-alt: #F1F1F1;
$footer: #C20F08;
$lightfont: #ffffff;
$darkfont: #303133;
$bodyfont: #888888;

/* end color variables */

/* font type */

$fontsans: 'Poppins',sans-serif;
$fontserif: 'Merriweather', serif;
$fontcursive: 'Ephesis', cursive;

/* end font type */

/* start theme edits */

/* top bar */

#top_bar {
	&.fullwidth,
	&.containerwidth {
		background: $colorone;
		
		.phone_email_wrapper {
			nav#phone_number,
			nav#email_address {
				ul {
					li {
						a:link,
						a:visited {
							color: $lightfont;
						}
					}
				}
			}
		}
		
		nav#social_nav {
			ul {
				li {
					a:link,
					a:visited {
						color: $lightfont;
					}
				}
			}
		}
	}
}

/* attention header */


#attention_bar_header {
	background: $background;
	
	.attention_bar_header_content {
		h3 {
			color: $colorone;
		}
		
		div {
			ul {
				li {
					a:link,
					a:visited {
						background: $colorone;
						color: $lightfont;
					}
				}
			}
		}
	}
}


/* header */


a#searchopen,
a#mobileopen {
	&:link,
	&:visited {
		background: $background;
		color: $colorone;
	}
}

#search,
#mobile_nav {
	background: rgba($colorone, .95);
	
	#searchform {
		input[type="submit"] {
			color: $colorone;
			border: none;
		}
	}
	
	.mobile_nav_wrapper {
		#mobile_search {
			input[type="submit"] {
				color: $colorone;
				border: none;
			}
		}
		
		#mobileclose {
			i {
				color: $colorone;
			}
		}
	}
}

header {
	
	&#header_home {
		background: url('../img/joint-header.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
		background-position: right top;
		
		&.fixed_tall {
			height: 800px;
		}
	}
	
	&#header_page {
		background: url('../img/page.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
		background-position: center center;
		
		#page_title {
			h1.heading {
				color: $lightfont;
				font-size: 42px;
				font-weight: 400;
				
				strong {
					font-weight: 700;
				}
			}
		}
	}
	
	#nav_bar {
		background-color: rgba(255,255,255,0.95);
		
		#logo_main {
			width: 30%;
			
			img {
				height: 77px;
				padding: 10px 0px 10px 20px;
			}
		}
		
		#nav_menu.include_logo {
			#primary_nav {
				width: 70%;
				
				ul {
					li {
						a:link,
						a:visited {
							color: $darkfont;
						}
						
						ul.sub-menu {
							li {
								background: rgba(#ffffff, .9);
							}
						}
					}
				}
			}
		}
		
		&.scroll-fix {
			background: $background;
			
			#primary_nav {
				ul {
					li {
						a:link,
						a:visited {
							color: $darkfont;
						}
						
						ul.sub-menu {
							li {
								a:link,
								a:visited {
									background: rgba(#ffffff, .9);
								}
							}
						}
					}
				}
			}
		}
	}
	
	&#header_home_mobile,
	&#header_page_mobile {
		.mobile_navigation_bar {
			background: $background;

			a#mobileopen:link,
			a#mobileopen:visited {
				i {
					color: $colorone !important;	
				}
			}
		}
		
		#page_title {
			
			h1,h2 {
				color: $lightfont !important;
			}
			
			h1.heading {
				color: $lightfont;
				font-size: 42px;
				font-weight: 400;
				
				strong {
					font-weight: 700;
				}
			}
		}
	}
	
	&#header_home {
		
		#home_logo {
			#home_logo_text_wrapper {
				h1 {
					color: $lightfont;
					font-size: 60px;
					font-weight: 700;
					letter-spacing: -1px;
				}
				
				p {
					color: $lightfont;
					font-weight: 500;
					font-size: 18px;
					line-height: 32px;
				}
			}
			
			#home_page_nav {
				ul {
					li {
						a:link,
						a:visited {
							background: $colorone;
							border-radius: 10px;
							color: $lightfont;
							font-size: 18px;
							letter-spacing: 0px;
							text-align: left;
							text-transform: none;
						}
					}
				}
			}
		}
	}
	
	&#header_home_mobile {
		#home_logo.home_logo_mobile {
			#home_page_nav {
				ul {
					li {
						a:link,
						a:visited {
							background: $colorone;
							color: $lightfont;
							letter-spacing: 0px;
							text-transform: none;
						}
					}
				}
			}
		}
	}
	
	.image_overlay {
		background: rgba($colorone, .25);
	}
}

/* page header images */

.page-id-1666 {
	header#header_page {
		background: url('../img/page-header-1.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
		background-position: top right;
	}
}


/* main content areas */


.breadcrumb_wrapper {
	span.breadcrumbs {
		a:link,
		a:visited {
			color: $colortwo;
		}
	}
}

#attention_bar {
	background: $background;
	
	.attention_bar_top,
	.attention_bar_bottom {
		h3 {
			color: $colorone;
		}
		
		ul {
			li {
				a:link,
				a:visited {
					background: $colorone;
					color: $lightfont;
					border-radius: 10px;
					letter-spacing: 0px;
					font-size: 18px;
					font-weight: 500;
					text-transform: none;
				}
			}
		}
	}
}

#call_out_boxes {
	background: $colorone;
	
	.cob_1,
	.cob_2,
	.cob_3,
	.cob_4,
	.cob_5 {
		.call_out_boxes_item {
			.square.fas,
			.circle.fas {
				background: $background;
				color: $colorone;
			}
			
			h1,h2,h3 {
				color: $lightfont;
			}
			
			p {
				color: $lightfont;
				font-weight: 500;
			}
			
			a:link,
			a:visited {
				background: $background;
				color: $colorone;
			}
		}
	}
}

.custom_callout {
	padding: 100px 0px;
	
	h3 {
		color: $colorone;
		font-size: 32px;
		font-weight: 700;
		line-height: 42px;
	}
	
	a:link,
	a:visited {
		background: $colorone;
		border: 2px solid $colorone;
		border-radius: 10px;
		color: $lightfont;
		display: block;
		font-weight: 500;
		font-size: 18px;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
	}
	
	a:hover,
	a:active {
		background: transparent;
		color: $colorone;
	}
}

.page-id-2 {
	#main {
		padding: 0px 0px 0px 0px;
		
		.default_editor {
			padding-top: 100px;
		}
	}
}

#main {
	background: $background;
	
	.content {
		
		h1 {
			color: $colorone;
			font-size: 42px;
			font-weight: 400;
			margin-bottom: 50px;
			text-align: center;
			
			strong {
				font-weight: 700;
			}
		}
		
		h3 {
			color: $colorone;
			font-size: 24px;
			font-weight: 500;
			line-height: 32px;
			margin: 0px 0px 20px 0px;
		}
		
		hr.divider {
			background: $colorone;
		}
		
		p {
			color: $darkfont;
		}
		
		ul {
			li {
				color: $darkfont;
			}
		}
		
		a:link,
		a:visited {
			color: $colorone;
			
			&.button {
				background: $colorone;
				color: $lightfont;
			}
		}
		
		iframe {
			display: block;
			height: 500px;
			width: 100%;
		}
		
		#gallery {
			.gallery_wrapper {
				a:link,
				a:visited {
					.filter:hover {
						background: rgba($colorone, .75);
					}
				}
			}
		}
	
		figure.wp-block-image.align-right-full-width {
			float: right;
			width: 40%;
			
			img {
				border-radius: 20px;
				display: block;
				height: auto;
				width: 100%;
			}
		}
		
		#service_blocks_wrapper {
			.service_block {
				background: $colorone;
				border-radius: 20px;
				display: inline-block;
				margin: 10px;
				padding: 20px;
				width: calc(33.33333333332% - 60px);
				
				h3 {
					color: $lightfont;
				}
				
				p {
					color: $lightfont;
				}
				
				a:link,
				a:visited {
					color: $lightfont;
					display: inline-block;
					border: 2px solid $lightfont;
					border-radius: 10px;
					padding: 10px 20px;
				}
				
				a:hover,
				a:active {
					color: $colorone;
					background: #ffffff;
					opacity: 1;
				}
			}
		}
	}
	
	.sidebar {
		.business_information_wrapper {
			background: $colorone;
			
			h3 {
				color: $lightfont;
			}
			
			p {
				color: $lightfont;
			}
			
			strong {
				display: block;
				font-weight: 700;
				margin-top: 10px;
			}
			
			ul.business_hours {
				li {
					span {
						color: $lightfont;
					}
				}
			}
			
			.contact_info {
				margin-top: 10px;
				
				ul {
					li {
						color: $lightfont;
						
						a:link,
						a:visited {
							color: $lightfont;
						}
					}
				}
			}
		}
	}
	
	&.blog_home {
		background: $background-alt;
	}
}

#home_blocks_wrapper {
	background: $colorone;
	padding: 100px 0px 100px 0px;
	
	.home_blocks {
		h1 {
			color: $lightfont;
			font-size: 42px;
			font-weight: 400;
			margin-bottom: 50px;
			text-align: center;
			
			strong {
				font-weight: 700;
			}
		}
		
		p {
			color: $lightfont;
			font-size: 18px;
			line-height: 32px;
			margin-bottom: 20px;
		}
			
		.block {
			background: #FFFFFF;
			border-radius: 20px;
			display: inline-block;
			margin: 10px;
			padding: 20px;
			vertical-align: top;
			width: calc(100% - 60px);
			
			h3 {
				color: $colorone;
				font-size: 24px;
				font-weight: 700;
				line-height: 32px;
				margin: 10px 0px 20px 0px;
			}
			
			p {
				color: $darkfont;
				font-size: 18px;
				line-height: 32px;
				margin-bottom: 20px;
			}
			
			ul {
				li {
					color: $colorone;
					font-size: 18px;
					line-height: 32px;
					list-style-type: disc;
					margin-left: 20px;
				}
			}
			
			a:link,
			a:visited {
				background: $colorone;
				border: 2px solid $colorone;
				border-radius: 10px;
				color: $lightfont;
				display: block;
				font-weight: 500;
				padding: 10px 20px;
				text-decoration: none;
			}
			
			a:hover,
			a:active {
				background: transparent;
				color: $colorone;
			}
			
			.icon {
				background: $colorone;
				border-radius: 20px;
				color: $lightfont;
				display: block;
				float: left;
				font-size: 52px;
				font-weight: 700;
				height: 50px;
				line-height: 52px;
				margin: 0px 10px 10px 0px;
				text-align: center;
				width: 50px;
			}
		}
		
		.block {
			width: calc(33.333333332% - 60px);

		}
	}
}

#skeleton_wrapper {
	padding: 100px 0px;
	
	&.desktop {
		display: block;
	}
	
	&.mobile {
		display: none;
	}
	
	.skeleton_heading {
		text-align: center;
		
		h1 {
			color: $colorone;
			font-size: 42px;
			font-weight: 400;
			margin-bottom: 50px;
			
			strong {
				font-weight: 700;
			}
		}
	}
	
	.skeleton {
		height: 800px;
	}
	
	.link_items {
		padding: 20px 0px;
		
		nav {
			ul {
				li {
					padding: 5px 0px;
					
					span {
						background: transparent;
						border: 2px solid $colorone;
						border-radius: 10px;
						color: $colorone;
						cursor: pointer;
						display: block;
						font-weight: 500;
						padding: 20px 30px;
						text-decoration: none;
					}
				
					span.active {
						background: $colorone;
						color: $lightfont;
					}
				}
			}
		}
	}
	
	.skeleton {
		background: url('../img/skeleton-vector.png') no-repeat;
		background-size: 100%;
		background-position: top center;
		position: relative;
		
		span {
			background: transparent;
			border: 5px solid $colorone;
			border-radius: 20px;
			display: block;
			height: 20px;
			position: absolute;
			width: 20px;
		}
		
		span.headachepain {
			left: 164px;
			top: 10px;
		}
		
		span.neckpain {
			left: 164px;
			top: 110px;
		}
		
		span.backpain {
			left: 164px;
			top: 200px;
		}
		
		span.shoulderpain {
			left: 96px;
			top: 137px;
		}
		
		span.elbowpain {
			left: 274px;
			top: 259px;
		}
		
		span.handwristpain {
			left: 296px;
			top: 381px;
		}
		
		span.hippain {
			left: 130px;
			top: 357px;
		}
		
		span.kneepain {
			left: 203px;
			top: 545px;
		}
		
		span.anklefootpain {
			left: 132px;
			top: 722px;
		}
		
		span.glow {
			background: $colorone;
			box-shadow: 0px 0px 20px $colorone;
		}
		
		span.active {
			background: $colorone;
			box-shadow: 0px 0px 20px $colorone;
		}
	}
	
	.skeleton_description {
		padding: 20px 0px;
		
		span {
			display: none;
			
			h3 {
				color: $colorone;
				font-size: 24px;
				font-weight: 500;
				line-height: 32px;
				margin-bottom: 20px;
			}
			
			h4 {
				color: $darkfont;
				font-size: 18px;
				font-weight: 500;
				line-height: 24px;
				margin-bottom: 20px;
			}
			
			p {
				color: $darkfont;
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 20px;
			}
			
			ul {
				margin-bottom: 20px;
				
				li {
					color: $darkfont;
					font-size: 16px;
					line-height: 24px;
					list-style: disc;
					margin-bottom: 10px;
					margin-left: 20px;
				}
			}
			
			a:link,
			a:visited {
				background: $colorone;
				border: 2px solid $colorone;
				border-radius: 10px;
				color: $lightfont;
				display: block;
				font-weight: 500;
				padding: 15px 20px;
				text-decoration: none;
			}
			
			a:hover,
			a:active {
				background: transparent;
				color: $colorone;
			}
		}
		
		span.active {
			display: block;
		}
		
	}
}

/* form wrapper / contact page */

.form_wrapper {
	background: $colorone;
	margin-bottom: 100px;
	padding: 100px 0px;
	
	.form {
		form {
			.gform_body {
				.gfield {
					input[type="text"],
					input[type="email"],
					input[type="tel"] {
						border: none;
						border-radius: 5px;
						font-size: 20px;
						padding: 10px;
						appearance: none;
					}
					
					select {
						border: none;
						border-radius: 5px;
						font-size: 20px;
						padding: 10px;
						appearance: none;
					}
					
					textarea {
						border: none;
						border-radius: 5px;
						font-size: 24px;
						padding: 10px;
						appearance: none;
					}
					
					legend,
					label {
						color: $lightfont;
						
						span.gfield_required {
							color: $lightfont;
						}
					}
					
					.gfield_description {
						color: $lightfont;
						font-size: 14px;
						line-height: 20px;
					}
				}
			}
			
			.gform_footer {
				input[type="submit"] {
					background: #ffffff;
					border: 2px solid #ffffff;
					border-radius: 10px;
					color: $colorone;
					cursor: pointer;
					display: block;
					font-size: 18px;
					font-weight: 700;
					padding: 10px 20px;
					text-decoration: none;
					transition: all .15s ease;
				}
				
				input[type="submit"]:hover {
					background: $colorone;
					color: $lightfont;
				}
			}
		}
	}
}

/* gradient span */

span.grad-bar {
	background: rgba($colorone,1);
	background: linear-gradient(90deg, rgba(#ffffff,1) 0%, rgba($colorone,1) 100%);
	display: block;
	height: 5px;
	margin: 20px auto 40px auto;
	width: 250px;
}

#tabs>ul {
	li.ui-tabs-active {
		a:link,
		a:visited {
			color: $colorone;
			border-bottom: 1px solid $colorone;
		}
	}
}

#accordion>h3,
#accordion>h3:hover, 
#accordion>h3.ui-state-active {
	color: $colorone;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: none;
}

#accordion>h3 {
	border-top: 1px solid $colorone;
	text-align: center;
}

#parallax {
	background: url('../img/parallax.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position: center center;
	
	&.parallax_tall {
		height: 450px;
	}
		
	.filter {
		background: rgba($colorone, .25);
		
		.testimonial {
			span {
				color: $lightfont;
				
				&.test-rating {
					color: $colorone;
				}
			}
		}
	}
}

.edit_button {
	a:link,
	a:visited {
		background: $colorone;
	}
}


/* blog page */


.blog_home article.blog_preview {
	span.edit,
	span.author,
	span.date {
		a:link, 
		a:visited {
			color: $colorone;
		}
	}
	
	span.date {
		text-align: center;
	}
}

.blog_sidebar {
	background: $background-alt;
	
	#blog_sidebar_1,
	#blog_sidebar_2 {
		
		h2 {
			color: $colorone;
			display: block;
			font-size: 20px;
			font-weight: 500;
			padding-top: 20px;
			text-align: center;
		}
		
		ul {
			li {
				a:link,
				a:visited {
					color: $colorone;
				}
			}
		}
	}
}

article.blog_entry {
	.meta {
		span.date,
		span.author,
		span.category {
			a:link,
			a:visited {
				color: $colorone;
			}
		}
	}
	
	.tagcloud {
		a:link,
		a:visited {
			border: 1px solid $colorone;
			color: $colorone;
		}
	}
}


/* footer */


footer {
	background: $footer;
	
	#logo_footer {
		img {
			height: auto;
			width: 100%;
		}
		
		h2 {
			color: $lightfont;
		}
	}
	
	img {
		height: auto;
		width: 100%;
	}
	
	h3 {
		color: $lightfont;
		font-size: 22px;
		letter-spacing: 0px;
		text-transform: capitalize;
	}
	
	p {
		color: $lightfont;
		margin-bottom: 10px;
		
		strong {
			font-weight: 700;
		}
		
		a:link,
		a:visited {
			color: $lightfont;
			text-decoration: none;
		}
		
		a:hover,
		a:active {
			opacity: .5;
		}
	}
	
	ul {
		li {
			a:link,
			a:visited {
				color: $lightfont;
			}
			
			.post-date {
				color: $lightfont;
			}
			
			i {
				color: $lightfont;
				margin-right: 10px;
			}
		}
	}
	
	
	
	.tagcloud {
		a:link,
		a:visited {
			border: 1px solid $lightfont;
			color: $lightfont;
		}
	}
}

#copyright {
	background: $footer;
	
	#copyright_content {
		p {
			color: $lightfont;
			
			a:link,
			a:visited {
				color: $lightfont;
			}
		}
	}
	
	#social_nav {
		ul {
			li {
				a:link,
				a:visited {
					color: $lightfont;
				}
			}
		}
	}
}


/* gutenberg block edits */

#main {
	.content {
		.wp-block-columns {
			margin-bottom: 3em;
			
			img {
				border-radius: 5px;
				height: auto;
			}
		}
	}
}


/* landing page */

.page-id-1014 {
	footer {
		display: none;
	}
}

.landing {
	background: url('../img/landing-page-bg.jpg') no-repeat;
	background-size: cover;
	background-position: center top;
	min-height: 100%;
	
	&__overlay {
		background: rgba(#C20F08,0.25);
		padding: 50px 100px;
	}
	
	&__header {
		align-items: center;
		display: flex;
		flex-flow: row nowrap;
		
		&__logo {
			padding: 10px 40px;
			width: calc(40% - 80px);
		}
		
		&__cta {
			padding: 10px 40px;
			width: calc(60% - 80px);
			
			span {
				display: block;
				font-size: 20px;
				font-weight: 700;
				text-align: right;
				
				a:link,
				a:visited {
					color: #C20F08;
					text-decoration: none;
				}
				
				a:hover,
				a:active {
					opacity: .7;
				}
			}
		}
		
		&__logo {
			img {
				height: auto;
				width: 100%;
			}
		}
	}
	
	&__body {
		align-items: center;
		display: flex;
		flex-flow: column-reverse nowrap;
		
		&__form {
			padding: 10px 40px;
			width: calc(100% - 80px);
			
			.gform_wrapper {
				input[type="text"],
				input[type="email"],
				input[type="tel"],
				select,
				textarea {
					border: 2px solid #C20F08;
					border-radius: 10px;
				}
				
				input[type="submit"] {
					background: #C20F08;
					border: none;
					border-radius: 10px;
					color: #fff;
					cursor: pointer;
					font-size: 18px;
					font-weight: 700;
					padding: 10px 20px;
					//text-transform: uppercase;
					
					&:hover {
						opacity: .5;
					}
				}
				
				label {
					font-size: 20px !important;
					line-height: 32px;
				}
				
				.gfield_description {
					font-size: 14px !important;
					line-height: 24px !important;
				}
			}
		}
		
		&__content {
			padding: 10px 40px;
			width: calc(100% - 80px);
			
			p {
				//background: #C20F08;
				border-radius: 10px;
				color: #000;
				font-size: 28px;
				font-weight: 700;
				line-height: 38px;
				padding: 60px 0px;
			}
		}
	}
}


/* responsive media queries - 980 to 1220 */


@media (min-width: 980px) and (max-width: 1220px) {
	
	header {
		&#header_home_mobile {
			background: url('../img/joint-header.jpg') no-repeat;
			background-size: 100%;
			background-position: right bottom;
			
			#home_logo.home_logo_mobile {
				#home_logo_text_wrapper {
					h1 {
						color: $lightfont;
						font-size: 52px;
						font-weight: 700;
					}
					
					p {
						color: $lightfont;
						font-size: 18px;
						font-weight: 500;
						line-height: 32px;
					}
				}
				
				#home_page_nav {
					a:link,
					a:visited {
						background: $colorone;
					}
				}
			}
		}
		
		&#header_page_mobile {
			background: url('../img/page.jpg') no-repeat;
			background-size: 100%;
			background-position: center center;	
		}
	}
	
	#home_blocks_wrapper {
		.home_blocks {
			.block {
				width: calc(50% - 60px);
			}
		}
	}
	
	#skeleton_wrapper {
		&.desktop {
			display: none;
		}
		
		&.mobile {
			display: block;
		}
	}
}


/* responsive media queries - 768 to 979 */


@media (min-width: 768px) and (max-width: 979px) {
	
	header {
		&#header_home_mobile {
			background: url('../img/joint-header-mobile.jpg') no-repeat;
			background-size: 100%;
			background-position: right top;
			
			#home_logo.home_logo_mobile {
				margin-left: -300px;
				width: 600px;
				
				#home_logo_text_wrapper {
					h1 {
						color: $lightfont;
						font-size: 52px;
						font-weight: 700;
					}
					
					p {
						color: $lightfont;
						font-size: 18px;
						font-weight: 500;
						line-height: 32px;
					}
				}
				
				#home_page_nav {
					a:link,
					a:visited {
						background: $colorone;
					}
				}
			}
		}
		
		&#header_page_mobile {
			background: url('../img/page_mobile.jpg') no-repeat;
			background-size: 100%;
			background-position: right top;	
		}
	}
	
	#main {
		.content {
			#service_blocks_wrapper {
				.service_block {
					width: calc(50% - 60px);
				}
			}
		}
	}
	
	#home_blocks_wrapper {
		.home_blocks {
			.block {
				width: calc(50% - 60px);
			}
		}
	}
	
	#skeleton_wrapper {
		&.desktop {
			display: none;
		}
		
		&.mobile {
			display: block;
		}
	}
	
	
	.landing {
		background: url('../img/landing-page-bg.jpg') no-repeat;
		background-size: cover;
		background-position: center top;
		min-height: 100%;
		
		&__overlay {
			padding: 20px;
		}
		
		&__header {
			align-items: center;
			display: flex;
			flex-flow: column nowrap;
			
			&__logo {
				padding: 10px 20px;
				width: calc(100% - 40px);
			}
			
			&__cta {
				padding: 10px 20px;
				width: calc(100% - 40px);
				
				span {
					text-align: center;
				}
			}
			
			&__logo {
				img {
					height: auto;
					width: 100%;
				}
			}
		}
		
		&__body {
			align-items: center;
			display: flex;
			flex-flow: column-reverse nowrap;
			
			&__form {
				padding: 10px 20px;
				width: calc(100% - 40px);
			}
			
			&__content {
				padding: 10px 40px;
				width: calc(100% - 40px);
			}
		}
	}
}


/* responsive media queries - 480 to 767 */


@media (min-width: 480px) and (max-width: 767px) {
	
	header {
		&#header_home_mobile {
			background: url('../img/joint-header-mobile.jpg') no-repeat;
			background-size: 100%;
			background-position: right top;
			
			#home_logo.home_logo_mobile {
				#home_logo_text_wrapper {
					h1 {
						color: $lightfont;
						font-size: 40px;
						font-weight: 700;
					}
					
					p {
						color: $lightfont;
						font-size: 18px;
						font-weight: 500;
						line-height: 32px;
					}
				}
				
				#home_page_nav {
					a:link,
					a:visited {
						background: $colorone;
					}
				}
			}
		}
		
		&#header_page_mobile {
			background: url('../img/page_mobile.jpg') no-repeat;
			background-size: 100%;
			background-position: center center;	
		}
	}
	
	#main {
		.content {
			.wp-block-columns {
				img {
					height: auto;
					width: 100%;
				}
			}
			
			#service_blocks_wrapper {
				.service_block {
					width: calc(50% - 60px);
				}
			}
		}
	}
	
	.custom_callout {
		h3 {
			text-align: center;
			margin-bottom: 20px;
		}
	}
	
	#home_blocks_wrapper {
		.home_blocks {
			.block {
				width: calc(100% - 60px);
			}
		}
	}
	
	#skeleton_wrapper {
		&.desktop {
			display: none;
		}
		
		&.mobile {
			display: block;
		}
	}
	
	
	
	
	
	
	
	
	
	.landing {
		background: url('../img/landing-page-bg.jpg') no-repeat;
		background-size: cover;
		background-position: center top;
		min-height: 100%;
		
		&__overlay {
			padding: 20px;
		}
		
		&__header {
			align-items: center;
			display: flex;
			flex-flow: column nowrap;
			
			&__logo {
				padding: 10px 20px;
				width: calc(100% - 40px);
			}
			
			&__cta {
				padding: 10px 20px;
				width: calc(100% - 40px);
				
				span {
					text-align: center;
				}
			}
			
			&__logo {
				img {
					height: auto;
					width: 100%;
				}
			}
		}
		
		&__body {
			align-items: center;
			display: flex;
			flex-flow: column-reverse nowrap;
			
			&__form {
				padding: 10px 20px;
				width: calc(100% - 40px);
			}
			
			&__content {
				padding: 10px 40px;
				width: calc(100% - 40px);
			}
		}
	}
	
}


/* responsive media queries - 0 to 479 */


@media (min-width: 0px) and (max-width: 479px) {
	
	header {
		&#header_home_mobile {
			background: url('../img/joint-header-mobile.jpg') no-repeat;
			background-size: 125%;
			background-position: right top;
			
			#home_logo.home_logo_mobile {
				#home_logo_text_wrapper {
					h1 {
						color: $lightfont;
						font-size: 24px;
						font-weight: 700;
					}
					
					p {
						color: $lightfont;
						font-size: 18px;
						font-weight: 500;
						line-height: 32px;
					}
				}
				
				#home_page_nav {
					a:link,
					a:visited {
						background: $colorone;
					}
				}
			}
		}
		
		&#header_page_mobile {
			background: url('../img/page_mobile.jpg') no-repeat;
			background-size: 100%;
			background-position: center center;	
		}
	}
	
	#main {
		.content {
			.wp-block-columns {
				img {
					height: auto;
					width: 100%;
				}
			}
			
			#service_blocks_wrapper {
				.service_block {
					width: calc(100% - 60px);
				}
			}
		}
	}
	
	.custom_callout {
		h3 {
			text-align: center;
			margin-bottom: 20px;
		}
	}
	
	#home_blocks_wrapper {
		.home_blocks {
			.block {
				width: calc(100% - 60px);
			}
		}
	}
	
	#skeleton_wrapper {
		&.desktop {
			display: none;
		}
		
		&.mobile {
			display: block;
		}
	}
	
	footer {
		#logo_footer {
			img {
				height: 200px !important;
			}
		}
	}
	
	

	
	.landing {
		background: url('../img/landing-page-bg.jpg') no-repeat;
		background-size: cover;
		background-position: center top;
		min-height: 100%;
		
		&__overlay {
			padding: 20px;
		}
		
		&__header {
			align-items: center;
			display: flex;
			flex-flow: column nowrap;
			
			&__logo {
				padding: 10px 20px;
				width: calc(100% - 40px);
			}
			
			&__cta {
				padding: 10px 20px;
				width: calc(100% - 40px);
				
				span {
					text-align: center;
				}
			}
			
			&__logo {
				img {
					height: auto;
					width: 100%;
				}
			}
		}
		
		&__body {
			align-items: center;
			display: flex;
			flex-flow: column-reverse nowrap;
			
			&__form {
				padding: 10px 20px;
				width: calc(100% - 40px);
			}
			
			&__content {
				padding: 10px 40px;
				width: calc(100% - 40px);
			}
		}
	}
	

	
	
}


/* end theme edits */